.notepad-container {
    position: relative;
    background-color: #fcf1c6;
    padding: 1.5rem;
    border-radius: 8px;
    border: 1px solid #FFD452;
    margin-top: 20px;
}

.notepad-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.notepad-header h3 {
  margin: 0;
}

.add-note-button {
  background-color: #FFD452;
  border: 1px solid #FBCB43;
  color: #000000;
  border-radius: 6px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
}

.add-note-button:hover {
  background-color: #FBCB43;
}

.notepad-list { list-style: none; padding: 0; margin: 0 0 1rem 0; }
.notepad-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
  font-size: 0.9rem;
  border-bottom: 1px solid rgba(255, 212, 82, 0.4);
}
.notepad-item:last-child { border-bottom: none; }
.notepad-item span { word-break: break-word; }

.delete-note-button {
  background: transparent;
  border: none;
  cursor: pointer;
  color: var(--text-light-color);
  display: flex;
  align-items: center;
  padding: 4px;
  border-radius: 4px;
  transition: all 0.2s ease;
}

.delete-note-button:hover {
  color: white;
  background-color: var(--danger-color);
}

.notepad-input-form { display: flex; gap: 0.5rem; margin: 10px 0;}
.notepad-input-form input {
  flex-grow: 1;
  border: 1px solid #FDF2D0;
  border-radius: 6px;
  padding: 0.5rem;
  font-size: 0.9rem;
  background-color: #FFFBEB;
  outline: none;
  border-color: #FFD452;
  box-shadow: 0 0 0 2px rgba(255, 212, 82, 0.5);
}

.notepad-input-form button {
  background-color: #FFD452;
  color: #423400;
  border: 1px solid #FBCB43;
  border-radius: 6px;
  width: 40px;
  cursor: pointer;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notepad-input-form button:hover {
  background-color: #FBCB43;
}